<!-- Defining angular app -->
<html ng-app="app">

<head>
    <title>Realtime Private Chat using Angular, Nodejs and Mysql</title>
    <meta charset="utf-8">
    <base href="/">
    <!-- Adding CSS files-->
    <link rel="stylesheet" href="css/bundle/main.css">
</head>

<!-- Defining angular controller -->

<body>
    <div id="main">
        <!-- Angular router will inject the content here -->
        <div ng-view></div>
    </div>
</body>

<!-- Adding JS files -->
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/app.service.js"></script>
<script src="js/app.js"></script>
<script src="js/auth.controller.js"></script>
<script src="js/home.controller.js"></script>

</html>