.home-body {
    height: calc(100% - 77px);
}

.message-list {
    border-bottom: 1px solid #ccd6dd;
}

.message-text {
    #message {
        width: 100%;
        border: 0 none;
        resize: none;
    }
    textarea {
        font-size: 24px;
        letter-spacing: .1em;
    }
}

.row {
    display: flex;
}

.col-md-8 {
    width: 60%;
}

.col-md-4 {
    width: 40%;
}

ul li {
    letter-spacing: .1em;
    background: #88e306;
    color: #fff;
    font-size: 24px;
}